build/
CMakeFiles/
backup/
matlab/
hls_final/
2010_03_09_drive_0019_small/
vitis_hls/

viso2
*.log
*.o
*.zip
*.tar
.vscode/

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps